* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: arial;
  font-size: 20px;
}
.Main {
  display: flex;
  flex-flow: column nowrap;
}

#Counter {
  color: white;
  font-size: 150px;
  text-align: center;
}

.buttons {
  display: flex;
  flex-flow: row;
  gap: 20px;
}

.button {
  color: white;
  background-color: black;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 35px;
}
.button1 {
  border: 2px solid rgba(255, 49, 49, 0.4);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 18px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.button1:hover {
  border: 2px solid rgba(255, 49, 49, 1);
  color: rgba(255, 49, 49, 1);
}
.button2 {
  border: 2px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.button2:hover {
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}
.button3 {
  border: 2px solid rgba(49, 255, 49, 0.3);
  color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  font-size: 18px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.button3:hover {
  border: 2px solid rgba(49, 255, 49, 1);
  color: rgba(49, 255, 49, 1);
}
